<div>
  <div>
    <div class="chart-container">
      <h3>Cantidad de Ingredientes por Receta</h3>
      <canvas #ingredientChart width="600" height="300"></canvas>
    </div>

    <div *ngIf="selected">
      <app-recipe-detail [recipe]="selectedRecipe"></app-recipe-detail>
    </div>
    <table>
      <thead>
        <tr>
          <th>Receta</th>
          <th>Imagen</th>
          <th>Porciones</th>
          <th>Tiempo</th>
          <th>Ingredientes</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of recipes" (click)="onSelect(recipe)">
          <td>{{ recipe.nombre }}</td>
          <td>
            <img
              class="recipe-img"
              [src]="recipe.imagen"
              alt="{{ recipe.imagen }}"
            />
          </td>
          <td>{{ recipe.porciones }}</td>
          <td>{{ recipe.tiempo_minutos }} min</td>
          <td>{{ recipe.ingredientes.length }}</td>
          <td>
            <button (click)="navigateToDetail(recipe.id)">Ver Detalle</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
