<div class="recipe-detail">
  <h2>{{ recipe?.nombre }}</h2>
  <img
    class="recipe-detail-img"
    [src]="recipe?.imagen"
    alt="{{ recipe?.imagen }}"
  />
  <p><strong>Porciones:</strong> {{ recipe?.porciones }}</p>
  <p><strong>Tiempo:</strong> {{ recipe?.tiempo_minutos }} min</p>
  <h3>Ingredientes</h3>
  <app-ingredient-list
    [ingredients]="recipe?.ingredientes"
  ></app-ingredient-list>

  <div class="max-ingredient" *ngIf="maxIngredient">
    <h3>Ingrediente con mayor cantidad</h3>
    <p>
      <strong>{{ maxIngredient.name }}</strong>: {{ maxIngredient.quantity }}
    </p>
  </div>

  <h3>Pasos</h3>
  <ol>
    <li *ngFor="let step of recipe?.pasos">
      {{ step }}
    </li>
  </ol>
  <button (click)="navigateToList()">Regresar al Listado</button>
</div>
